<!DOCTYPE html>

<html>
        <head>
                <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js'></script>
                <script src="Practice3B_Ctrl.js"></script>
				<script src="Practice3B_Model.js"></script>
				<link rel="stylesheet" type="text/css" href="Practice3B_Style.css">
                <title>Practice 3</title>
        </head>
        <body ng-app="practice">

                <h1>Practice 3</h1>
                <h2>Novice AngularJS (With ng-app implicit name)</h2>

                <p>The purpose of this practice is to play with AngularJS MVC.</p>

<strong>WORKING</strong>
                <form ng-controller="someCtrl">
                        <h3>Practice 3.1: Controller & Model</h3>
                        <p><em>Get some String from model using controller:</em> <strong>{{model.someString}}</strong></p>
                        
                        <h3>Read from Dictionary in model</h3>
                        <ul>
							<li ng-repeat='people in peoplesData | orderBy:"name"'>
								<p>person {{$index+1}}: <em>name: </em>{{people.name}}<br/>
								<em>Person family: </em> {{people.family}}<br/>
								<em>Person phone number: </em> {{people.phoneNumber}}</p>
							</li>
						</ul>
						
						<h3> This is from a function inside the model</h3>
						<ul>
							<li ng-repeat='oper in peoplesOperations | orderBy:"nameOfOperator"'>
								<p><em>The person which operates: </em>{{oper.nameOfOperator}}<br/>
								<em> The operation: </em> {{oper.operation}}</p>
							</li>						
                      	</ul>
					  
					  	<h3> This is from a function inside the model thats read from another dict in model</h3>
						<ul>
							<li ng-repeat='animal in animals | orderBy:"name"'>
								<p>Animal {{$index+1}}: The {{animal.name}} is <a href="{{animal.wiki}}">{{animal.action}}ing</a></p>
							</li>						
                      	</ul>
					  
                </form>
        </body>
</html>